# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

temp/*

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
.idea